@page
@model Programowanie_Projekt_Web.Pages.LeaderboardModel
@{
    ViewData["Title"] = "Leaderboard";
}
<div class="text-center">
    <h1 class="welcome">Tablica Wyników</h1>
    <div class="table-center">
        <table class="question-table">
            <tr>
                <th>Pozycja</th>
                <th>Nazwa</th>
                <th>Punkty</th>
                <th>Liczba Pytań</th>
            </tr>
            @for (int i = 0; i < Model.Leaderboard.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model.Leaderboard[i].Name</td>
                    <td>@Model.Leaderboard[i].Score</td>
                    <td>@Model.Leaderboard[i].NumberOfQuestions</td>
                </tr>
            }
        </table>
    </div>
    <a asp-area="" asp-page="/Index"> <button class="button-menu">Powrót</button></a>
</div>
