@page
@model Programowanie_Projekt_Web.RulesModel
@{
	ViewData["Title"] = "Rules";
}
<div class="text-center">
    <h1 class="welcome">Zasady Gry</h1>
	<ol>
		<li class="li-num">Wybierz jedną z opcji: Graj, Zasady Gry, Tablica Wyników</li>
		<li class="li-num">Wybierz ilość Pytań</li>
		<li class="li-num">Odpowiedz na pytania</li>
		<li class="li-num">Na koniec zobaczysz swój wynik</li>
		<li class="li-num">Jeśli wynik jest wystarczający znajdzie się na Tablicy Wyników</li>
		<li class="li-num">Możesz spróbować ponownie</li>
	</ol>
	<a asp-area="" asp-page="/Index"> <button class="button-menu">Powrót</button></a>

</div>
